html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
}

footer {
  opacity: 0.5;
  text-align: center;
  padding: 10px;
  color: white;
}

.form {
  margin: 10px 300px;
  padding: 60px 0;
  border-radius: 10px;
  text-align: center;
  background: #ffa34d;
}

.answer {
  margin: 20px 300px;
  padding: 60px 0;
  border-radius: 10px;
  text-align: center;
  background: #ffa34d;
}

.box {
  width: 80%;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
}

.submit {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}

.submit:hover {
  cursor: pointer;
  background-color: #ff7c00;
  color: white;
}

@media (max-width: 600px) {
  .form,
  .answer {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
  }

  .box,
  .submit {
    font-size: 18px;
    width: 100%;
    padding: 12px;
  }

  h1,
  footer {
    text-align: center;
    font-size: 1.2em;
    color: white;
  }
}
